<h1>Place of Books</h1>

<%= link_to "New Book", new_book_path %>

<% @books.each do |book| %>
    <h4>
      <%= book.id %>:
      <%= link_to book.title, book_path(book.id)%>
      <%= link_to "Edit Book", edit_book_path(book.id) %>
      <%= link_to "Delete Book", book_path(book.id), method: :delete %>
    </h4>
    <p>
      <%= book.publication_date %>
    </p>
    <p>
      <%= book.available %>
    </p>
      <%= book.description %>
    </p>
<% end %>
