<h1 class="well well-sm">Place of Books</h1>

<h4 class="well well-sm"><%= link_to "ADD New Book", new_book_path %></h4>

<table class="table table-responsive well">
  <thead>
    <tr>
      <th class="col-sx-3">Title</th>
      <th class="col-sx-1">Year</th>
      <th class="col-sx-3">Description</th>
      <th class="col-sx-1">Avaliable</th>
      <th class="col-sx-1"></th>
      <th class="col-sx-1"></th>
      <th class="col-sx-1"></th>
      <th class="col-sx-1"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= link_to book.title, book_path(book.id)%></td>
      <td><%= book.publication_date.strftime("%Y") %></td>
      <td><%= book.description %></td>
      <% if book.available == false %>
        <td><%= "No" %></td>
      <% else %>
        <td><%= "Yes" %></td>
      <% end %>
      <td class='btn btn-warning custom-width'><%= link_to "Delete", book_path(book.id), method: :delete %></td>
      <td class='btn btn-info custom-width'><%= link_to "Edit", edit_book_path(book.id) %></td>
      <td class='btn btn-info custom-width'><%= link_to "Loans", book_reservations_path(book.id) %></td>
      <% if !book.available %>
        <td class='btn btn-info custom-width' disabled="disabled">Reserve</td>
      <% else %>
        <td class='btn btn-info custom-width'><%= link_to "Reserve", new_book_reservation_path(book.id) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
