<h1>New Book</h1>

<% @book.errors.full_messages.each do |error| %>
  <%= error %>
<% end %>

<p>
  <%= link_to "All Books", books_path %>
</p>

<%= form_tag books_path do %>
  <%= label_tag "book[title]", "Title" %>
  <%= text_field_tag "book[title]", @book.title %>

<p>
  <%= label_tag "book[description]", "Description" %>
  <%= text_field_tag "book[description]", @book.description,  class: 'form-control' %>
</p>

<p>
  <%= label_tag "book[publication_date]", "Publication Date" %>
  <%= text_field_tag "book[publication_date]", @book.publication_date %>
</p>

  <%= label_tag "book[available]", "Available?" %>
  <%= text_field_tag "book[available]", @book.available %>

  <%= submit_tag %>
<% end %>
