<h1 class='well'>Place of Books</h1>
<div class='well'>
  <%= link_to "All Books", books_path %>
</div>

<div class='well'>
  <button class='btn btn-info custom-width'><%= link_to "Loans", book_reservations_path(@book.id) %></button>
  <% if !@book.available %>
    <button class='btn btn-info custom-width' disabled="disabled">Reserve</button>
  <% else %>
    <button class='btn btn-info custom-width'><%= link_to "Reserve", new_book_reservation_path(@book.id) %></button>
  <% end %>
  <button class='btn btn-info custom-width'><%= link_to "Edit", edit_book_path(@book.id) %></button>
  <button class='btn btn-warning custom-width'><%= link_to "Delete", book_path(@book.id), method: :delete %></button>
  <h4>
    <%= @book.id %>:
    <%= @book.title %>
  </h4>
    <p><%= @book.publication_date.strftime("%Y") %></p>
    <% if @book.available == false %>
      <%= "On Loan" %>
    <% else %>
      <%= "Available" %>
    <% end %>
    <p><%= @book.description %></p>
</div>
