<h1 class="well well-sm">Place of Books</h1>

<% if @reservation.return_date == nil && @reservation.due_date < Time.now %>
  <h2 class="well well-sm alert alert-danger">Over Due!</h2>
<% end %>

<p>Book Title:<%= link_to @reservation.book.title, book_path(@reservation.book_id)%></p>
<p>Loan Date:<%= @reservation.loan_date.strftime("%F") %></p>
<p>Due Date:<%= @reservation.due_date.strftime("%F") %></p>
<p>Return Date: <% if @reservation.return_date %> <%= @reservation.return_date.strftime("%F") %><<% end %></p>

<% unless @reservation.return_date %>
  <button type='button' class='btn btn-info active'>
    <%= link_to "Extend", reservation_path(id: @reservation.id, due_date:Date.today.next_month), method: :patch %>
  </button>
  <button type='button' class='btn btn-info active'>
    <%= link_to "Return", reservation_path(id:  @reservation.id, return_date: Date.today), method: :patch %>
  </button>

<% end %>
